In [1]:
import pandas as pd

pdf_length_df = pd.read_csv(r'C:\Users\clint\Desktop\RA Task\pdf_length_comparison.csv')
project_length_df = pd.read_csv(r'C:\Users\clint\Desktop\RA Task\project_length_extracted.csv')

In [2]:
pdf_length_df

,project_number,num_matches,match_1,match_2,all_matches_same,comparison_1_2,numbers_in_match_1,numbers_in_match_2
0,170561,2,['10.15'],['10.15'],True,True,1,1
1,170626,2,[],[],True,True,0,0
2,170634,2,['13.93'],['13.93'],True,True,1,1
3,174015,2,['5.45'],['5.45'],True,True,1,1
4,174016,2,['1.22'],['1.22'],True,True,1,1
...,...,...,...,...,...,...,...,...
197,180611,2,[],[],True,True,0,0
198,180621,2,['13.06'],['13.06'],True,True,1,1
199,180622,2,['24.61'],['24.58'],False,False,1,1
200,184002,2,['1.67'],['1.67'],True,True,1,1
201,187023,2,['17.59'],['17.59'],True,True,1,1

In [3]:
project_length_df

       filename project_lengths
0    170561.pdf       ['10.15']
1    170626.pdf              []
2    170634.pdf       ['13.93']
3    174015.pdf        ['5.45']
4    174016.pdf        ['1.22']
..          ...             ...
197  180611.pdf              []
198  180621.pdf       ['13.06']
199  180622.pdf       ['24.61']
200  184002.pdf        ['1.67']
201  187023.pdf       ['17.59']

[202 rows x 2 columns]

In [4]:
# Extract project number from filename (remove .pdf extension)
project_length_df['project_number'] = project_length_df['filename'].str.replace('.pdf', '')

# Convert project_number to string in both dataframes to ensure consistent data types
pdf_length_df['project_number'] = pdf_length_df['project_number'].astype(str)
project_length_df['project_number'] = project_length_df['project_number'].astype(str)

# Display the first few rows to verify the extraction
print("Project length dataframe with extracted project numbers:")
print(project_length_df.head())
print(f"project_length_df['project_number'] dtype: {project_length_df['project_number'].dtype}")
print("\nPDF length dataframe:")
print(pdf_length_df.head())
print(f"pdf_length_df['project_number'] dtype: {pdf_length_df['project_number'].dtype}")

Project length dataframe with extracted project numbers:
     filename project_lengths project_number
0  170561.pdf       ['10.15']         170561
1  170626.pdf              []         170626
2  170634.pdf       ['13.93']         170634
3  174015.pdf        ['5.45']         174015
4  174016.pdf        ['1.22']         174016
project_length_df['project_number'] dtype: object

PDF length dataframe:
  project_number  num_matches    match_1    match_2  all_matches_same  \
0         170561            2  ['10.15']  ['10.15']              True
1         170626            2         []         []              True
2         170634            2  ['13.93']  ['13.93']              True
3         174015            2   ['5.45']   ['5.45']              True
4         174016            2   ['1.22']   ['1.22']              True

   comparison_1_2  numbers_in_match_1  numbers_in_match_2
0            True                   1                   1
1            True                   0                   0
2            True                   1                   1
3            True                   1                   1
4            True                   1                   1
pdf_length_df['project_number'] dtype: object

In [5]:
# Merge the dataframes on project_number
merged_df = pd.merge(pdf_length_df, project_length_df, on='project_number', how='inner')

print(f"Number of matching projects: {len(merged_df)}")
print(f"Total projects in pdf_length_df: {len(pdf_length_df)}")
print(f"Total projects in project_length_df: {len(project_length_df)}")
print("\nFirst few rows of merged data:")
print(merged_df[['project_number', 'match_1', 'project_lengths']].head(10))

# Compare match_1 and project_lengths
merged_df['values_match'] = merged_df['match_1'] == merged_df['project_lengths']

print("\n=== COMPARISON RESULTS ===")
print(f"Total matches found: {merged_df['values_match'].sum()}")
print(f"Total mismatches: {(~merged_df['values_match']).sum()}")
print(f"Percentage match: {(merged_df['values_match'].sum() / len(merged_df)) * 100:.1f}%")

# Show examples of matches and mismatches
print("\n=== EXAMPLES OF MATCHES ===")
matches = merged_df[merged_df['values_match']]
print(matches[['project_number', 'match_1', 'project_lengths']].head())

print("\n=== EXAMPLES OF MISMATCHES ===")
mismatches = merged_df[~merged_df['values_match']]
if len(mismatches) > 0:
    print(mismatches[['project_number', 'match_1', 'project_lengths']].head())
else:
    print("No mismatches found!")

# Detailed analysis of mismatches
if len(mismatches) > 0:
    print("\n=== DETAILED MISMATCH ANALYSIS ===")
    for idx, row in mismatches.head(10).iterrows():
        print(f"Project {row['project_number']}:")
        print(f"  match_1: {row['match_1']}")
        print(f"  project_lengths: {row['project_lengths']}")
        print()

Number of matching projects: 202
Total projects in pdf_length_df: 202
Total projects in project_length_df: 202

First few rows of merged data:
  project_number    match_1 project_lengths
0         170561  ['10.15']       ['10.15']
1         170626         []              []
2         170634  ['13.93']       ['13.93']
3         174015   ['5.45']        ['5.45']
4         174016   ['1.22']        ['1.22']
5         180003   ['9.19']        ['9.19']
6         180004   ['1.76']        ['1.76']
7         180006    ['0.5']         ['0.5']
8         180012         []              []
9         180014   ['4.45']        ['4.45']

=== COMPARISON RESULTS ===
Total matches found: 202
Total mismatches: 0
Percentage match: 100.0%

=== EXAMPLES OF MATCHES ===
  project_number    match_1 project_lengths
0         170561  ['10.15']       ['10.15']
1         170626         []              []
2         170634  ['13.93']       ['13.93']
3         174015   ['5.45']        ['5.45']
4         174016   ['1.22']        ['1.22']

=== EXAMPLES OF MISMATCHES ===
No mismatches found!

In [6]:
# Save the comparison results to a CSV file
comparison_results = merged_df[['project_number', 'match_1', 'project_lengths', 'values_match']].copy()
comparison_results.to_csv('comparison_results.csv', index=False)

print("Comparison results saved to 'comparison_results.csv'")
print("\nSUMMARY:")
print(f"- Total projects compared: {len(merged_df)}")
print(f"- Exact matches: {merged_df['values_match'].sum()}")
print(f"- Mismatches: {(~merged_df['values_match']).sum()}")
print(f"- Match rate: {(merged_df['values_match'].sum() / len(merged_df)) * 100:.1f}%")

# Check if there are projects that didn't match between datasets
pdf_projects = set(pdf_length_df['project_number'])
project_projects = set(project_length_df['project_number'])

only_in_pdf = pdf_projects - project_projects
only_in_project = project_projects - pdf_projects

print(f"\nProjects only in pdf_length_df: {len(only_in_pdf)}")
if len(only_in_pdf) > 0:
    print(f"Examples: {list(only_in_pdf)[:5]}")
    
print(f"Projects only in project_length_df: {len(only_in_project)}")
if len(only_in_project) > 0:
    print(f"Examples: {list(only_in_project)[:5]}")

Comparison results saved to 'comparison_results.csv'

SUMMARY:
- Total projects compared: 202
- Exact matches: 202
- Mismatches: 0
- Match rate: 100.0%

Projects only in pdf_length_df: 0
Projects only in project_length_df: 0

In [7]:
comparison_results

    project_number    match_1 project_lengths  values_match
0           170561  ['10.15']       ['10.15']          True
1           170626         []              []          True
2           170634  ['13.93']       ['13.93']          True
3           174015   ['5.45']        ['5.45']          True
4           174016   ['1.22']        ['1.22']          True
..             ...        ...             ...           ...
197         180611         []              []          True
198         180621  ['13.06']       ['13.06']          True
199         180622  ['24.61']       ['24.61']          True
200         184002   ['1.67']        ['1.67']          True
201         187023  ['17.59']       ['17.59']          True

[202 rows x 4 columns]