# PDF Text Extraction

1. Read a PDF file
2. Extract all text content
3. Find specific lines containing "Engineer's Estimate:" and "Bidder" followed by numbers

In [1]:
# Install PyPDF2 if not already installed
!pip install PyPDF2

Requirement already satisfied: PyPDF2 in c:\users\clint\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.0.1)

[notice] A new release of pip is available: 25.0 -> 25.1.1
[notice] To update, run: C:\Users\clint\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
# Import required libraries
import PyPDF2
import re
import os
import pandas as pd

In [3]:
# Path to the PDF file
pdf_path = r"C:\Users\clint\Desktop\RA Task\Downloads\180003bidtab.pdf"

# Verify file exists
if not os.path.exists(pdf_path):
    print(f"File not found: {pdf_path}")
else:
    print(f"File found: {pdf_path}")
    
    # Open the PDF file
    with open(pdf_path, 'rb') as file:
        # Create PDF reader object
        pdf_reader = PyPDF2.PdfReader(file)
        
        # Get number of pages
        num_pages = len(pdf_reader.pages)
        print(f"Number of pages: {num_pages}")
        
        # Extract text from all pages
        all_text = ""
        for page_num in range(num_pages):
            page = pdf_reader.pages[page_num]
            all_text += page.extract_text()
        
        # Display first 1000 characters to see sample content
        print("\nSample content (first 1000 characters):\n")
        print(all_text[:1000])

File found: C:\Users\clint\Desktop\RA Task\Downloads\180003bidtab.pdf
Number of pages: 17

Sample content (first 1000 characters):

Project No. 180003
PID 94079
ATB-SR 45-01.87
Federal
Type: TWO LANE RESURFACING
Completion Date: 8/15/2018
Award Amount:                $2,087,863.70Contract Awarded To:      RONYAK PAVING INCLetting Date: 1/25/2018
Engineer's Estimate:        $2,320,000.00
Ohio Department of Transportation
Official Bid Tabulation
Jerry Wray, Director
RONYAK PAVING INC
14376 N CHESHIRE ST
BURTON, OH 44021GeaugaBidder 1
Bid $2,087,863.70SHELLY & SANDS INC
1515 HARMON AVE
COLUMBUS, OH 43223FranklinBidder 2
Bid $2,193,929.12
KOSKI CONSTRUCTION CO
P O BOX 1038
ASHTABULA, OH 44005-1038Bidder 3
Bid $2,268,022.35KOKOSING CONSTRUCTION COMPANY INC
886 MC KINLEY AVE
COLUMBUS, OH 43222FranklinBidder 4
Bid $2,298,511.32
CHAGRIN VALLEY PAVING INC
17290 MUNN RD
CHAGRIN FALLS, OH 44023GeaugaBidder 5
Bid $2,400,000.00BURTON SCOT CONTRACTORS LLC
11330 KINSMAN RD
NEWBURY, OH 44065GeaugaBidder 6
Bid $2,451,806.63
AMERICON INDUSTRIAL SERVICES LLC
3651 LEHARPS RD
AUSTINTOWN, OH 44515MahoningBidder 7
Bid $2,456,486.87
18000

Sample content (first 1000 characters):

Project No. 180003
PID 94079
ATB-SR 45-01.87
Federal
Type: TWO LANE RESURFACING
Completion Date: 8/15/2018
Award Amount:                $2,087,863.70Contract Awarded To:      RONYAK PAVING INCLetting Date: 1/25/2018
Engineer's Estimate:        $2,320,000.00
Ohio Department of Transportation
Official Bid Tabulation
Jerry Wray, Director
RONYAK PAVING INC
14376 N CHESHIRE ST
BURTON, OH 44021GeaugaBidder 1
Bid $2,087,863.70SHELLY & SANDS INC
1515 HARMON AVE
COLUMBUS, OH 43223FranklinBidder 2
Bid $2,193,929.12
KOSKI CONSTRUCTION CO
P O BOX 1038
ASHTABULA, OH 44005-1038Bidder 3
Bid $2,268,022.35KOKOSING CONSTRUCTION COMPANY INC
886 MC KINLEY AVE
COLUMBUS, OH 43222FranklinBidder 4
Bid $2,298,511.32
CHAGRIN VALLEY PAVING INC
17290 MUNN RD
CHAGRIN FALLS, OH 44023GeaugaBidder 5
Bid $2,400,000.00BURTON SCOT CONTRACTORS LLC
11330 KINSMAN RD
NEWBURY, OH 44065GeaugaBidder 6
Bid $2,451,806.63
AMERICON INDUSTRIAL SERVICES LLC
3651 LEHARPS RD
AUSTINTOWN, OH 44515MahoningBidder 7
Bid $2,456,486.87
18000

In [4]:
# Extract specific lines using regular expressions
engineers_estimate_pattern = r"Engineer's Estimate:.*"
bidder_pattern = r"Bidder \d+.*"

# Find all matches
engineers_estimate = re.findall(engineers_estimate_pattern, all_text)
bidders = re.findall(bidder_pattern, all_text)

# Display results
print("Engineer's Estimate:")
for estimate in engineers_estimate:
    print(f"  {estimate}")

print("\nBidders:")
for bidder in bidders:
    print(f"  {bidder}")

Engineer's Estimate:
  Engineer's Estimate:        $2,320,000.00

Bidders:
  Bidder 1
  Bidder 2
  Bidder 3
  Bidder 4
  Bidder 5
  Bidder 6
  Bidder 7

In [5]:
csv_path = r"C:\Users\clint\Desktop\RA Task\5.csv"
df_csv = pd.read_csv(csv_path)
df_csv

,state,county,fips,year,project_start,project_id,route,mileage,lanes,project_duration_days,eng_estimate_mils,win_bid_mils,cost_mils,num_bidders,bidders_list,all_routes,cost_overrun_pct
0,Ohio,Paulding,39125,2018,2018-05-24 00:00:00,105522,111,12.982,2.0,99.0,0.943,0.957859,1.047510,2.0,"Shelly Company, Gerken Paving",NaN,9.359511
1,Ohio,Wyandot,39175,2018,2018-11-15 00:00:00,88832,23,NaN,4.0,290.0,NaN,3.236775,3.304783,NaN,NaN,"['23', '23', '23']",2.101101
2,Ohio,Butler,39017,2018,2018-01-18 00:00:00,94263,73,NaN,2.0,195.0,NaN,0.258900,0.232678,NaN,NaN,['73'],-10.128362
3,Ohio,Franklin,39049,2018,2018-01-18 00:00:00,76467,270 / 315,NaN,4.0,255.0,NaN,6.101481,6.991613,NaN,NaN,"['270', '270', '270', '270', '270', '270', '27...",14.588788
4,Ohio,Hocking,39073,2018,2018-01-18 00:00:00,101555,33,NaN,2.0,255.0,NaN,0.553756,0.531749,NaN,NaN,['33'],-3.974212
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,Ohio,Harrison,39067,2018,2018-12-20 00:00:00,91844,250 / 9,NaN,2.0,284.0,NaN,2.284000,2.212447,NaN,NaN,"['9', '250']",-3.132812
199,Ohio,Highland,39071,2018,2018-12-20 00:00:00,84622,138 / 753,NaN,2.0,223.0,NaN,1.494436,1.658765,NaN,NaN,"['138', '138', '138', '753']",10.996011
200,Ohio,Madison,39097,2018,2018-12-20 00:00:00,105547,42,NaN,2.0,284.0,NaN,3.611668,3.535001,NaN,NaN,"['42', '42', '42']",-2.122762
201,Ohio,Clinton,39027,2018,2018-12-20 00:00:00,87300,251 / 68 / 350,NaN,2.0,589.0,NaN,5.441520,5.331566,NaN,NaN,"['68', '68', '68', '68', '68', '68', '251', '3...",-2.020640
202,Ohio,Belmont,39013,2018,2018-12-20 00:00:00,91962,800,NaN,2.0,345.0,NaN,5.165815,5.117317,NaN,NaN,"['800', '800', '800']",-0.938836

In [6]:
excel_path = r"C:\Users\clint\Desktop\RA Task\Ohio_2018_Resurfacing PRR.xlsx"
df_excel = pd.read_excel(excel_path)
df_excel.head()

,Bid Date,Project Num,County,PID,RouteSection,Desc,AwardDate,CompletionDate,Contract$,AdjCompDt,AdjContAmt
0,2018-11-08,180569,WYA,88832,US 23-15.89,FOUR LANE RESURFACING,2018-11-15,2019-09-01,3236774.92,2020-04-08,3304782.83
1,2018-01-11,180006,BUT,94263,SR 73-14.67,TWO LANE RESURFACING,2018-01-18,2018-08-01,258900.00,2018-08-01,232677.67
2,2018-01-11,180012,FRA,76467,IR 270-21.69,FOUR LANE RESURFACING,2018-01-18,2018-09-30,6101480.95,2018-11-18,6991613.05
3,2018-01-11,180020,HOC,101555,CR 33A -03.97,TWO LANE RESURFACING,2018-01-18,2018-09-30,553756.00,2019-05-15,531748.56
4,2018-01-11,180024,LOR,98470,SR 58-00.00,TWO LANE RESURFACING,2018-01-18,2018-07-31,1743669.25,2018-10-12,1754532.83

In [7]:
# Create a mapping from PID to Project Num in df_excel
pid_to_project_num = dict(zip(df_excel['PID'], df_excel['Project Num']))

# Create a new column in df_csv using the mapping
df_csv['Project Num'] = df_csv['project_id'].map(pid_to_project_num)

# Display the first few rows to verify
df_csv.head()

,state,county,fips,year,project_start,project_id,route,mileage,lanes,project_duration_days,eng_estimate_mils,win_bid_mils,cost_mils,num_bidders,bidders_list,all_routes,cost_overrun_pct,Project Num
0,Ohio,Paulding,39125,2018,2018-05-24 00:00:00,105522,111,12.982,2.0,99.0,0.943,0.957859,1.047510,2.0,"Shelly Company, Gerken Paving",NaN,9.359511,180326
1,Ohio,Wyandot,39175,2018,2018-11-15 00:00:00,88832,23,NaN,4.0,290.0,NaN,3.236775,3.304783,NaN,NaN,"['23', '23', '23']",2.101101,180569
2,Ohio,Butler,39017,2018,2018-01-18 00:00:00,94263,73,NaN,2.0,195.0,NaN,0.258900,0.232678,NaN,NaN,['73'],-10.128362,180006
3,Ohio,Franklin,39049,2018,2018-01-18 00:00:00,76467,270 / 315,NaN,4.0,255.0,NaN,6.101481,6.991613,NaN,NaN,"['270', '270', '270', '270', '270', '270', '27...",14.588788,180012
4,Ohio,Hocking,39073,2018,2018-01-18 00:00:00,101555,33,NaN,2.0,255.0,NaN,0.553756,0.531749,NaN,NaN,['33'],-3.974212,180020

In [8]:
# Extract the Project Num directly from the PDF filename
project_num_match = re.search(r'([0-9]+)bidtab\.pdf', pdf_path)
if project_num_match:
    project_num_str = project_num_match.group(1)  # Keep original as string
    project_num = int(project_num_str)  # Convert to integer for matching
    print(f"Extracted Project Num: {project_num} (type: {type(project_num)})")
    
    # Extract the dollar amount from the Engineer's Estimate
    if engineers_estimate:
        dollar_amount = re.search(r'\$([0-9,]+\.[0-9]+)', engineers_estimate[0])
        if dollar_amount:
            # Convert the amount to a float (removing commas) and then to millions
            dollar_amount_str = dollar_amount.group(1).replace(',', '')
            amount_in_millions = float(dollar_amount_str) / 1_000_000
            print(f"Engineer's Estimate in millions: {amount_in_millions}")
            
            # Update the DataFrame where Project Num matches
            mask = df_csv['Project Num'] == project_num  # Now comparing integers to integers
            if mask.any():
                df_csv.loc[mask, 'eng_estimate_mils'] = amount_in_millions
                print(f"Updated eng_estimate_mils for Project Num {project_num}")
                # Display the updated row
                print(df_csv.loc[mask])
            else:
                print(f"No matching Project Num {project_num} found in the DataFrame")
                # Double-check with string comparison as a fallback
                alt_mask = df_csv['Project Num'].astype(str) == project_num_str
                if alt_mask.any():
                    print(f"Found a match when comparing as strings!")
                    df_csv.loc[alt_mask, 'eng_estimate_mils'] = amount_in_millions
                    print(f"Updated eng_estimate_mils using string comparison for Project Num {project_num_str}")
                    print(df_csv.loc[alt_mask])
        else:
            print("Could not extract dollar amount from Engineer's Estimate")
    else:
        print("Engineer's Estimate not found in the PDF")
    
    # Extract the number of bidders by finding the highest bidder number
    if bidders:
        # Extract the bidder numbers from the bidder strings
        bidder_numbers = []
        for bidder in bidders:
            bidder_num_match = re.search(r'Bidder (\d+)', bidder)
            if bidder_num_match:
                bidder_numbers.append(int(bidder_num_match.group(1)))
        
        if bidder_numbers:
            num_bidders = max(bidder_numbers)  # The highest bidder number is the count of bidders
            print(f"Number of bidders: {num_bidders}")
            
            # Update the DataFrame with the number of bidders
            mask = df_csv['Project Num'] == project_num
            if mask.any():
                df_csv.loc[mask, 'num_bidders'] = num_bidders
                print(f"Updated num_bidders for Project Num {project_num}")
                # Display the updated row
                print(df_csv.loc[mask])
            else:
                # Try string comparison as a fallback
                alt_mask = df_csv['Project Num'].astype(str) == project_num_str
                if alt_mask.any():
                    df_csv.loc[alt_mask, 'num_bidders'] = num_bidders
                    print(f"Updated num_bidders using string comparison for Project Num {project_num_str}")
                    print(df_csv.loc[alt_mask])
                else:
                    print(f"No matching Project Num {project_num} found in the DataFrame for updating num_bidders")
        else:
            print("Could not extract bidder numbers from the bidder strings")
    else:
        print("No bidders found in the PDF")
else:
    print("Could not extract Project Num from the filename")

# Show the first few rows of the updated DataFrame
df_csv

Extracted Project Num: 180003 (type: <class 'int'>)
Engineer's Estimate in millions: 2.32
Updated eng_estimate_mils for Project Num 180003
  state     county   fips  year        project_start  project_id route  \
9  Ohio  Ashtabula  39007  2018  2018-02-01 00:00:00       94079    45

   mileage  lanes  project_duration_days  eng_estimate_mils  win_bid_mils  \
9      NaN    2.0                  195.0               2.32      2.087864

   cost_mils  num_bidders bidders_list                all_routes  \
9   2.217248          NaN          NaN  ['45', '45', '45', '45']

   cost_overrun_pct  Project Num
9          6.196981       180003
Number of bidders: 7
Updated num_bidders for Project Num 180003
  state     county   fips  year        project_start  project_id route  \
9  Ohio  Ashtabula  39007  2018  2018-02-01 00:00:00       94079    45

   mileage  lanes  project_duration_days  eng_estimate_mils  win_bid_mils  \
9      NaN    2.0                  195.0               2.32      2.087864

   cost_mils  num_bidders bidders_list                all_routes  \
9   2.217248          7.0          NaN  ['45', '45', '45', '45']

   cost_overrun_pct  Project Num
9          6.196981       180003

,state,county,fips,year,project_start,project_id,route,mileage,lanes,project_duration_days,eng_estimate_mils,win_bid_mils,cost_mils,num_bidders,bidders_list,all_routes,cost_overrun_pct,Project Num
0,Ohio,Paulding,39125,2018,2018-05-24 00:00:00,105522,111,12.982,2.0,99.0,0.943,0.957859,1.047510,2.0,"Shelly Company, Gerken Paving",NaN,9.359511,180326
1,Ohio,Wyandot,39175,2018,2018-11-15 00:00:00,88832,23,NaN,4.0,290.0,NaN,3.236775,3.304783,NaN,NaN,"['23', '23', '23']",2.101101,180569
2,Ohio,Butler,39017,2018,2018-01-18 00:00:00,94263,73,NaN,2.0,195.0,NaN,0.258900,0.232678,NaN,NaN,['73'],-10.128362,180006
3,Ohio,Franklin,39049,2018,2018-01-18 00:00:00,76467,270 / 315,NaN,4.0,255.0,NaN,6.101481,6.991613,NaN,NaN,"['270', '270', '270', '270', '270', '270', '27...",14.588788,180012
4,Ohio,Hocking,39073,2018,2018-01-18 00:00:00,101555,33,NaN,2.0,255.0,NaN,0.553756,0.531749,NaN,NaN,['33'],-3.974212,180020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,Ohio,Harrison,39067,2018,2018-12-20 00:00:00,91844,250 / 9,NaN,2.0,284.0,NaN,2.284000,2.212447,NaN,NaN,"['9', '250']",-3.132812,180609
199,Ohio,Highland,39071,2018,2018-12-20 00:00:00,84622,138 / 753,NaN,2.0,223.0,NaN,1.494436,1.658765,NaN,NaN,"['138', '138', '138', '753']",10.996011,180610
200,Ohio,Madison,39097,2018,2018-12-20 00:00:00,105547,42,NaN,2.0,284.0,NaN,3.611668,3.535001,NaN,NaN,"['42', '42', '42']",-2.122762,180611
201,Ohio,Clinton,39027,2018,2018-12-20 00:00:00,87300,251 / 68 / 350,NaN,2.0,589.0,NaN,5.441520,5.331566,NaN,NaN,"['68', '68', '68', '68', '68', '68', '251', '3...",-2.020640,180621
202,Ohio,Belmont,39013,2018,2018-12-20 00:00:00,91962,800,NaN,2.0,345.0,NaN,5.165815,5.117317,NaN,NaN,"['800', '800', '800']",-0.938836,180622

In [9]:
# Function to process a single PDF and update the DataFrame
def process_bidtab_pdf(pdf_path, df):
    print(f"Processing {os.path.basename(pdf_path)}...")
    
    # Open the PDF and extract text
    with open(pdf_path, 'rb') as file:
        pdf_reader = PyPDF2.PdfReader(file)
        all_text = ""
        for page in pdf_reader.pages:
            all_text += page.extract_text()
    
    # Extract Engineer's Estimate and bidders
    engineers_estimate = re.findall(r"Engineer's Estimate:.*", all_text)
    bidders = re.findall(r"Bidder \d+.*", all_text)
    
    # Extract Project Num from filename
    project_num_match = re.search(r'([0-9]+)bidtab\.pdf', pdf_path)
    if not project_num_match:
        print(f"  Could not extract Project Num from filename: {os.path.basename(pdf_path)}")
        return
    
    project_num_str = project_num_match.group(1)
    project_num = int(project_num_str)
    print(f"  Project Num: {project_num}")
    
    # Process Engineer's Estimate
    eng_estimate_mils = None
    if engineers_estimate:
        dollar_amount = re.search(r'\$([0-9,]+\.[0-9]+)', engineers_estimate[0])
        if dollar_amount:
            dollar_amount_str = dollar_amount.group(1).replace(',', '')
            eng_estimate_mils = float(dollar_amount_str) / 1_000_000
            print(f"  Engineer's Estimate: ${eng_estimate_mils:.2f} million")
        else:
            print("  Could not extract dollar amount from Engineer's Estimate")
    else:
        print("  Engineer's Estimate not found in the PDF")
    
    # Process number of bidders
    num_bidders = None
    if bidders:
        bidder_numbers = []
        for bidder in bidders:
            bidder_num_match = re.search(r'Bidder (\d+)', bidder)
            if bidder_num_match:
                bidder_numbers.append(int(bidder_num_match.group(1)))
        
        if bidder_numbers:
            num_bidders = max(bidder_numbers)
            print(f"  Number of bidders: {num_bidders}")
        else:
            print("  Could not extract bidder numbers from bidder strings")
    else:
        print("  No bidders found in the PDF")
    
    # Update the DataFrame
    mask = df['Project Num'] == project_num
    alt_mask = df['Project Num'].astype(str) == project_num_str
    
    if mask.any():
        # Update using integer comparison
        if eng_estimate_mils is not None:
            df.loc[mask, 'eng_estimate_mils'] = eng_estimate_mils
        if num_bidders is not None:
            df.loc[mask, 'num_bidders'] = num_bidders
        print(f"  Updated DataFrame for Project Num {project_num}")
        return True
    elif alt_mask.any():
        # Update using string comparison
        if eng_estimate_mils is not None:
            df.loc[alt_mask, 'eng_estimate_mils'] = eng_estimate_mils
        if num_bidders is not None:
            df.loc[alt_mask, 'num_bidders'] = num_bidders
        print(f"  Updated DataFrame for Project Num {project_num_str} (string comparison)")
        return True
    else:
        print(f"  No matching Project Num {project_num} found in the DataFrame")
        return False

In [10]:
# Get all bidtab PDF files in the Downloads directory
downloads_dir = r"C:\Users\clint\Desktop\RA Task\Downloads"
bidtab_pdfs = [os.path.join(downloads_dir, f) for f in os.listdir(downloads_dir) 
              if f.endswith('bidtab.pdf')]

print(f"Found {len(bidtab_pdfs)} bidtab PDF files")

# Process each PDF file
successful_updates = 0
for pdf_path in bidtab_pdfs:
    if process_bidtab_pdf(pdf_path, df_csv):
        successful_updates += 1
    print("---")

print(f"Successfully updated data for {successful_updates} out of {len(bidtab_pdfs)} PDFs")

# Display the columns with the updates
df_csv[['Project Num', 'eng_estimate_mils', 'num_bidders']]

Found 202 bidtab PDF files
Processing 180003bidtab.pdf...
  Project Num: 180003
  Engineer's Estimate: $2.32 million
  Number of bidders: 7
  Updated DataFrame for Project Num 180003
---
Processing 180006bidtab.pdf...
  Project Num: 180006
  Engineer's Estimate: $0.29 million
  Number of bidders: 3
  Updated DataFrame for Project Num 180006
---
Processing 180012bidtab.pdf...
  Project Num: 180003
  Engineer's Estimate: $2.32 million
  Number of bidders: 7
  Updated DataFrame for Project Num 180003
---
Processing 180006bidtab.pdf...
  Project Num: 180006
  Engineer's Estimate: $0.29 million
  Number of bidders: 3
  Updated DataFrame for Project Num 180006
---
Processing 180012bidtab.pdf...
  Project Num: 180012
  Engineer's Estimate: $4.90 million
  Number of bidders: 3
  Updated DataFrame for Project Num 180012
---
Processing 180014bidtab.pdf...
  Project Num: 180014
  Engineer's Estimate: $1.02 million
  Number of bidders: 7
  Updated DataFrame for Project Num 180014
---
Processing 180020bidtab.pdf...
  Project Num: 180012
  Engineer's Estimate: $4.90 million
  Number of bidders: 3
  Updated DataFrame for Project Num 180012
---
Processing 180014bidtab.pdf...
  Project Num: 180014
  Engineer's Estimate: $1.02 million
  Number of bidders: 7
  Updated DataFrame for Project Num 180014
---
Processing 180020bidtab.pdf...
  Project Num: 180020
  Engineer's Estimate: $0.43 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180020
---
Processing 180024bidtab.pdf...
  Project Num: 180024
  Engineer's Estimate: $1.72 million
  Number of bidders: 5
  Updated DataFrame for Project Num 180024
---
Processing 180025bidtab.pdf...
  Project Num: 180020
  Engineer's Estimate: $0.43 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180020
---
Processing 180024bidtab.pdf...
  Project Num: 180024
  Engineer's Estimate: $1.72 million
  Number of bidders: 5
  Updated DataFrame for Project Num 180024
---
Processing 180025bidtab.pdf...
  Project Num: 180025
  Engineer's Estimate: $1.68 million
  Number of bidders: 5
  Updated DataFrame for Project Num 180025
---
Processing 180028bidtab.pdf...
  Project Num: 180028
  Engineer's Estimate: $0.92 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180028
---
Processing 180029bidtab.pdf...
  Project Num: 180025
  Engineer's Estimate: $1.68 million
  Number of bidders: 5
  Updated DataFrame for Project Num 180025
---
Processing 180028bidtab.pdf...
  Project Num: 180028
  Engineer's Estimate: $0.92 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180028
---
Processing 180029bidtab.pdf...
  Project Num: 180029
  Engineer's Estimate: $1.56 million
  Number of bidders: 7
  Updated DataFrame for Project Num 180029
---
Processing 180031bidtab.pdf...
  Project Num: 180031
  Engineer's Estimate: $0.71 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180031
---
Processing 180043bidtab.pdf...
  Project Num: 180029
  Engineer's Estimate: $1.56 million
  Number of bidders: 7
  Updated DataFrame for Project Num 180029
---
Processing 180031bidtab.pdf...
  Project Num: 180031
  Engineer's Estimate: $0.71 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180031
---
Processing 180043bidtab.pdf...
  Project Num: 180043
  Engineer's Estimate: $1.38 million
  Number of bidders: 4
  Updated DataFrame for Project Num 180043
---
Processing 180045bidtab.pdf...
  Project Num: 180045
  Engineer's Estimate: $2.38 million
  Number of bidders: 5
  Updated DataFrame for Project Num 180045
---
Processing 180050bidtab.pdf...
  Project Num: 180050
  Engineer's Estimate: $2.48 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180050
---
Processing 180051bidtab.pdf...
  Project Num: 180043
  Engineer's Estimate: $1.38 million
  Number of bidders: 4
  Updated DataFrame for Project Num 180043
---
Processing 180045bidtab.pdf...
  Project Num: 180045
  Engineer's Estimate: $2.38 million
  Number of bidders: 5
  Updated DataFrame for Project Num 180045
---
Processing 180050bidtab.pdf...
  Project Num: 180050
  Engineer's Estimate: $2.48 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180050
---
Processing 180051bidtab.pdf...
  Project Num: 180051
  Engineer's Estimate: $1.05 million
  Number of bidders: 3
  Updated DataFrame for Project Num 180051
---
Processing 180055bidtab.pdf...
  Project Num: 180055
  Engineer's Estimate: $0.26 million
  Number of bidders: 3
  Updated DataFrame for Project Num 180055
---
Processing 180058bidtab.pdf...
  Project Num: 180058
  Engineer's Estimate: $0.63 million
  Number of bidders: 6
  Updated DataFrame for Project Num 180058
---
Processing 180064bidtab.pdf...
  Project Num: 180051
  Engineer's Estimate: $1.05 million
  Number of bidders: 3
  Updated DataFrame for Project Num 180051
---
Processing 180055bidtab.pdf...
  Project Num: 180055
  Engineer's Estimate: $0.26 million
  Number of bidders: 3
  Updated DataFrame for Project Num 180055
---
Processing 180058bidtab.pdf...
  Project Num: 180058
  Engineer's Estimate: $0.63 million
  Number of bidders: 6
  Updated DataFrame for Project Num 180058
---
Processing 180064bidtab.pdf...
  Project Num: 180064
  Engineer's Estimate: $3.34 million
  Number of bidders: 5
  Updated DataFrame for Project Num 180064
---
Processing 180066bidtab.pdf...
  Project Num: 180066
  Engineer's Estimate: $2.63 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180066
---
Processing 180067bidtab.pdf...
  Project Num: 180067
  Engineer's Estimate: $1.79 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180067
---
Processing 180068bidtab.pdf...
  Project Num: 180064
  Engineer's Estimate: $3.34 million
  Number of bidders: 5
  Updated DataFrame for Project Num 180064
---
Processing 180066bidtab.pdf...
  Project Num: 180066
  Engineer's Estimate: $2.63 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180066
---
Processing 180067bidtab.pdf...
  Project Num: 180067
  Engineer's Estimate: $1.79 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180067
---
Processing 180068bidtab.pdf...
  Project Num: 180068
  Engineer's Estimate: $3.56 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180068
---
Processing 180071bidtab.pdf...
  Project Num: 180071
  Engineer's Estimate: $3.37 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180071
---
Processing 180073bidtab.pdf...
  Project Num: 180068
  Engineer's Estimate: $3.56 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180068
---
Processing 180071bidtab.pdf...
  Project Num: 180071
  Engineer's Estimate: $3.37 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180071
---
Processing 180073bidtab.pdf...
  Project Num: 180073
  Engineer's Estimate: $2.74 million
  Number of bidders: 3
  Updated DataFrame for Project Num 180073
---
Processing 180085bidtab.pdf...
  Project Num: 180085
  Engineer's Estimate: $0.94 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180085
---
Processing 180088bidtab.pdf...
  Project Num: 180088
  Engineer's Estimate: $0.49 million
  Number of bidders: 3
  Updated DataFrame for Project Num 180088
---
Processing 180090bidtab.pdf...
  Project Num: 180073
  Engineer's Estimate: $2.74 million
  Number of bidders: 3
  Updated DataFrame for Project Num 180073
---
Processing 180085bidtab.pdf...
  Project Num: 180085
  Engineer's Estimate: $0.94 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180085
---
Processing 180088bidtab.pdf...
  Project Num: 180088
  Engineer's Estimate: $0.49 million
  Number of bidders: 3
  Updated DataFrame for Project Num 180088
---
Processing 180090bidtab.pdf...
  Project Num: 180090
  Engineer's Estimate: $4.19 million
  Number of bidders: 3
  Updated DataFrame for Project Num 180090
---
Processing 180092bidtab.pdf...
  Project Num: 180092
  Engineer's Estimate: $0.78 million
  Number of bidders: 6
  Updated DataFrame for Project Num 180092
---
Processing 180095bidtab.pdf...
  Project Num: 180090
  Engineer's Estimate: $4.19 million
  Number of bidders: 3
  Updated DataFrame for Project Num 180090
---
Processing 180092bidtab.pdf...
  Project Num: 180092
  Engineer's Estimate: $0.78 million
  Number of bidders: 6
  Updated DataFrame for Project Num 180092
---
Processing 180095bidtab.pdf...
  Project Num: 180095
  Engineer's Estimate: $3.40 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180095
---
Processing 180101bidtab.pdf...
  Project Num: 180101
  Engineer's Estimate: $2.75 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180101
---
Processing 180102bidtab.pdf...
  Project Num: 180102
  Engineer's Estimate: $0.78 million
  Number of bidders: 1
  Updated DataFrame for Project Num 180102
---
Processing 180103bidtab.pdf...
  Project Num: 180103
  Engineer's Estimate: $1.11 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180103
---
Processing 180105bidtab.pdf...
  Project Num: 180095
  Engineer's Estimate: $3.40 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180095
---
Processing 180101bidtab.pdf...
  Project Num: 180101
  Engineer's Estimate: $2.75 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180101
---
Processing 180102bidtab.pdf...
  Project Num: 180102
  Engineer's Estimate: $0.78 million
  Number of bidders: 1
  Updated DataFrame for Project Num 180102
---
Processing 180103bidtab.pdf...
  Project Num: 180103
  Engineer's Estimate: $1.11 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180103
---
Processing 180105bidtab.pdf...
  Project Num: 180105
  Engineer's Estimate: $1.46 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180105
---
Processing 180108bidtab.pdf...
  Project Num: 180108
  Engineer's Estimate: $0.56 million
  Number of bidders: 7
  Updated DataFrame for Project Num 180108
---
Processing 180110bidtab.pdf...
  Project Num: 180105
  Engineer's Estimate: $1.46 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180105
---
Processing 180108bidtab.pdf...
  Project Num: 180108
  Engineer's Estimate: $0.56 million
  Number of bidders: 7
  Updated DataFrame for Project Num 180108
---
Processing 180110bidtab.pdf...
  Project Num: 180110
  Engineer's Estimate: $1.70 million
  Number of bidders: 4
  Updated DataFrame for Project Num 180110
---
Processing 180112bidtab.pdf...
  Project Num: 180112
  Engineer's Estimate: $1.25 million
  Number of bidders: 5
  Updated DataFrame for Project Num 180112
---
Processing 180113bidtab.pdf...
  Project Num: 180110
  Engineer's Estimate: $1.70 million
  Number of bidders: 4
  Updated DataFrame for Project Num 180110
---
Processing 180112bidtab.pdf...
  Project Num: 180112
  Engineer's Estimate: $1.25 million
  Number of bidders: 5
  Updated DataFrame for Project Num 180112
---
Processing 180113bidtab.pdf...
  Project Num: 180113
  Engineer's Estimate: $0.71 million
  Number of bidders: 11
  Updated DataFrame for Project Num 180113
---
Processing 180114bidtab.pdf...
  Project Num: 180113
  Engineer's Estimate: $0.71 million
  Number of bidders: 11
  Updated DataFrame for Project Num 180113
---
Processing 180114bidtab.pdf...
  Project Num: 180114
  Engineer's Estimate: $3.14 million
  Number of bidders: 8
  Updated DataFrame for Project Num 180114
---
Processing 180115bidtab.pdf...
  Project Num: 180115
  Engineer's Estimate: $0.52 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180115
---
Processing 180116bidtab.pdf...
  Project Num: 180116
  Engineer's Estimate: $6.75 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180116
---
Processing 180119bidtab.pdf...
  Project Num: 180119
  Engineer's Estimate: $1.03 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180119
---
Processing 180122bidtab.pdf...
  Project Num: 180114
  Engineer's Estimate: $3.14 million
  Number of bidders: 8
  Updated DataFrame for Project Num 180114
---
Processing 180115bidtab.pdf...
  Project Num: 180115
  Engineer's Estimate: $0.52 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180115
---
Processing 180116bidtab.pdf...
  Project Num: 180116
  Engineer's Estimate: $6.75 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180116
---
Processing 180119bidtab.pdf...
  Project Num: 180119
  Engineer's Estimate: $1.03 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180119
---
Processing 180122bidtab.pdf...
  Project Num: 180122
  Engineer's Estimate: $3.59 million
  Number of bidders: 5
  Updated DataFrame for Project Num 180122
---
Processing 180132bidtab.pdf...
  Project Num: 180132
  Engineer's Estimate: $2.48 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180132
---
Processing 180137bidtab.pdf...
  Project Num: 180137
  Engineer's Estimate: $0.72 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180137
---
Processing 180139bidtab.pdf...
  Project Num: 180139
  Engineer's Estimate: $2.27 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180139
---
Processing 180140bidtab.pdf...
  Project Num: 180122
  Engineer's Estimate: $3.59 million
  Number of bidders: 5
  Updated DataFrame for Project Num 180122
---
Processing 180132bidtab.pdf...
  Project Num: 180132
  Engineer's Estimate: $2.48 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180132
---
Processing 180137bidtab.pdf...
  Project Num: 180137
  Engineer's Estimate: $0.72 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180137
---
Processing 180139bidtab.pdf...
  Project Num: 180139
  Engineer's Estimate: $2.27 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180139
---
Processing 180140bidtab.pdf...
  Project Num: 180140
  Engineer's Estimate: $1.58 million
  Number of bidders: 1
  Updated DataFrame for Project Num 180140
---
Processing 180141bidtab.pdf...
  Project Num: 180141
  Engineer's Estimate: $0.76 million
  Number of bidders: 1
  Updated DataFrame for Project Num 180141
---
Processing 180147bidtab.pdf...
  Project Num: 180147
  Engineer's Estimate: $0.11 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180147
---
Processing 180149bidtab.pdf...
  Project Num: 180149
  Engineer's Estimate: $1.32 million
  Number of bidders: 3
  Updated DataFrame for Project Num 180149
---
Processing 180153bidtab.pdf...
  Project Num: 180140
  Engineer's Estimate: $1.58 million
  Number of bidders: 1
  Updated DataFrame for Project Num 180140
---
Processing 180141bidtab.pdf...
  Project Num: 180141
  Engineer's Estimate: $0.76 million
  Number of bidders: 1
  Updated DataFrame for Project Num 180141
---
Processing 180147bidtab.pdf...
  Project Num: 180147
  Engineer's Estimate: $0.11 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180147
---
Processing 180149bidtab.pdf...
  Project Num: 180149
  Engineer's Estimate: $1.32 million
  Number of bidders: 3
  Updated DataFrame for Project Num 180149
---
Processing 180153bidtab.pdf...
  Project Num: 180153
  Engineer's Estimate: $1.79 million
  Number of bidders: 6
  Updated DataFrame for Project Num 180153
---
Processing 180154bidtab.pdf...
  Project Num: 180154
  Engineer's Estimate: $0.98 million
  Number of bidders: 5
  Updated DataFrame for Project Num 180154
---
Processing 180155bidtab.pdf...
  Project Num: 180153
  Engineer's Estimate: $1.79 million
  Number of bidders: 6
  Updated DataFrame for Project Num 180153
---
Processing 180154bidtab.pdf...
  Project Num: 180154
  Engineer's Estimate: $0.98 million
  Number of bidders: 5
  Updated DataFrame for Project Num 180154
---
Processing 180155bidtab.pdf...
  Project Num: 180155
  Engineer's Estimate: $4.32 million
  Number of bidders: 1
  Updated DataFrame for Project Num 180155
---
Processing 180156bidtab.pdf...
  Project Num: 180156
  Engineer's Estimate: $4.26 million
  Number of bidders: 3
  Updated DataFrame for Project Num 180156
---
Processing 180164bidtab.pdf...
  Project Num: 180155
  Engineer's Estimate: $4.32 million
  Number of bidders: 1
  Updated DataFrame for Project Num 180155
---
Processing 180156bidtab.pdf...
  Project Num: 180156
  Engineer's Estimate: $4.26 million
  Number of bidders: 3
  Updated DataFrame for Project Num 180156
---
Processing 180164bidtab.pdf...
  Project Num: 180164
  Engineer's Estimate: $1.40 million
  Number of bidders: 3
  Updated DataFrame for Project Num 180164
---
Processing 180165bidtab.pdf...
  Project Num: 180165
  Engineer's Estimate: $1.53 million
  Number of bidders: 1
  Updated DataFrame for Project Num 180165
---
Processing 180166bidtab.pdf...
  Project Num: 180166
  Engineer's Estimate: $0.77 million
  Number of bidders: 6
  Updated DataFrame for Project Num 180166
---
Processing 180167bidtab.pdf...
  Project Num: 180164
  Engineer's Estimate: $1.40 million
  Number of bidders: 3
  Updated DataFrame for Project Num 180164
---
Processing 180165bidtab.pdf...
  Project Num: 180165
  Engineer's Estimate: $1.53 million
  Number of bidders: 1
  Updated DataFrame for Project Num 180165
---
Processing 180166bidtab.pdf...
  Project Num: 180166
  Engineer's Estimate: $0.77 million
  Number of bidders: 6
  Updated DataFrame for Project Num 180166
---
Processing 180167bidtab.pdf...
  Project Num: 180167
  Engineer's Estimate: $2.28 million
  Number of bidders: 6
  Updated DataFrame for Project Num 180167
---
Processing 180170bidtab.pdf...
  Project Num: 180170
  Engineer's Estimate: $2.85 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180170
---
Processing 180172bidtab.pdf...
  Project Num: 180172
  Engineer's Estimate: $1.83 million
  Number of bidders: 1
  Updated DataFrame for Project Num 180172
---
Processing 180174bidtab.pdf...
  Project Num: 180174
  Engineer's Estimate: $1.01 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180174
---
Processing 180175bidtab.pdf...
  Project Num: 180167
  Engineer's Estimate: $2.28 million
  Number of bidders: 6
  Updated DataFrame for Project Num 180167
---
Processing 180170bidtab.pdf...
  Project Num: 180170
  Engineer's Estimate: $2.85 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180170
---
Processing 180172bidtab.pdf...
  Project Num: 180172
  Engineer's Estimate: $1.83 million
  Number of bidders: 1
  Updated DataFrame for Project Num 180172
---
Processing 180174bidtab.pdf...
  Project Num: 180174
  Engineer's Estimate: $1.01 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180174
---
Processing 180175bidtab.pdf...
  Project Num: 180175
  Engineer's Estimate: $3.25 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180175
---
Processing 180179bidtab.pdf...
  Project Num: 180179
  Engineer's Estimate: $1.74 million
  Number of bidders: 4
  Updated DataFrame for Project Num 180179
---
Processing 180187bidtab.pdf...
  Project Num: 180175
  Engineer's Estimate: $3.25 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180175
---
Processing 180179bidtab.pdf...
  Project Num: 180179
  Engineer's Estimate: $1.74 million
  Number of bidders: 4
  Updated DataFrame for Project Num 180179
---
Processing 180187bidtab.pdf...
  Project Num: 180187
  Engineer's Estimate: $0.15 million
  Number of bidders: 1
  Updated DataFrame for Project Num 180187
---
Processing 180189bidtab.pdf...
  Project Num: 180189
  Engineer's Estimate: $1.89 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180189
---
Processing 180192bidtab.pdf...
  Project Num: 180187
  Engineer's Estimate: $0.15 million
  Number of bidders: 1
  Updated DataFrame for Project Num 180187
---
Processing 180189bidtab.pdf...
  Project Num: 180189
  Engineer's Estimate: $1.89 million
  Number of bidders: 2
  Updated DataFrame for Project Num 180189
---
Processing 180192bidtab.pdf...
  Project Num: 180192
  Engineer's Estimate: $4.16 million
  Number of bidders: 7

     Project Num  eng_estimate_mils  num_bidders
0         180326              0.943          2.0
1         180569              3.702          3.0
2         180006              0.287          3.0
3         180012              4.904          3.0
4         180020              0.435          2.0
..           ...                ...          ...
198       180609              2.249          3.0
199       180610              1.508          2.0
200       180611              3.727          4.0
201       180621              4.893          1.0
202       180622              5.605          2.0

[203 rows x 3 columns]

In [11]:
# Save the updated DataFrame to a new CSV file
output_csv_path = r"C:\Users\clint\Desktop\RA Task\7.csv"
df_csv.to_csv(output_csv_path, index=False)
print(f"Updated DataFrame saved to {output_csv_path}")

# Count how many projects have engineer's estimates and bidder counts
eng_est_count = df_csv['eng_estimate_mils'].notna().sum()
num_bidders_count = df_csv['num_bidders'].notna().sum()

print(f"Projects with Engineer's Estimate: {eng_est_count} out of {len(df_csv)}")
print(f"Projects with Number of Bidders: {num_bidders_count} out of {len(df_csv)}")

# Summary statistics
print("\nSummary statistics:")
print("Engineer's Estimate (millions):")
print(df_csv['eng_estimate_mils'].describe())
print("\nNumber of Bidders:")
print(df_csv['num_bidders'].describe())

Updated DataFrame saved to C:\Users\clint\Desktop\RA Task\7.csv
Projects with Engineer's Estimate: 203 out of 203
Projects with Number of Bidders: 203 out of 203

Summary statistics:
Engineer's Estimate (millions):
count    203.000000
mean       2.300286
std        2.089839
min        0.112000
25%        0.974500
50%        1.795000
75%        3.087000
max       17.632000
Name: eng_estimate_mils, dtype: float64

Number of Bidders:
count    203.000000
mean       2.955665
std        1.808398
min        1.000000
25%        2.000000
50%        2.000000
75%        4.000000
max       11.000000
Name: num_bidders, dtype: float64

## Data Extraction Results and Validation

The automated PDF processing successfully extracted both engineer's estimates and bidder counts from all available bidtab PDF files without any missing values (NaN). The extracted data demonstrates reasonable values based on standard summary statistics analysis.

**Key Findings:**
- **Complete Data Coverage**: All PDF files were successfully processed with no missing values
- **Data Quality**: Summary statistics indicate reasonable and expected value ranges
- **Manual Verification**: Spot checks of extracted values confirm accuracy of the automated extraction process

The results suggest that the PDF text extraction algorithm is functioning correctly and reliably extracting the required financial and bidding information from the project documents.

In [12]:
df_csv

,state,county,fips,year,project_start,project_id,route,mileage,lanes,project_duration_days,eng_estimate_mils,win_bid_mils,cost_mils,num_bidders,bidders_list,all_routes,cost_overrun_pct,Project Num
0,Ohio,Paulding,39125,2018,2018-05-24 00:00:00,105522,111,12.982,2.0,99.0,0.943,0.957859,1.047510,2.0,"Shelly Company, Gerken Paving",NaN,9.359511,180326
1,Ohio,Wyandot,39175,2018,2018-11-15 00:00:00,88832,23,NaN,4.0,290.0,3.702,3.236775,3.304783,3.0,NaN,"['23', '23', '23']",2.101101,180569
2,Ohio,Butler,39017,2018,2018-01-18 00:00:00,94263,73,NaN,2.0,195.0,0.287,0.258900,0.232678,3.0,NaN,['73'],-10.128362,180006
3,Ohio,Franklin,39049,2018,2018-01-18 00:00:00,76467,270 / 315,NaN,4.0,255.0,4.904,6.101481,6.991613,3.0,NaN,"['270', '270', '270', '270', '270', '270', '27...",14.588788,180012
4,Ohio,Hocking,39073,2018,2018-01-18 00:00:00,101555,33,NaN,2.0,255.0,0.435,0.553756,0.531749,2.0,NaN,['33'],-3.974212,180020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,Ohio,Harrison,39067,2018,2018-12-20 00:00:00,91844,250 / 9,NaN,2.0,284.0,2.249,2.284000,2.212447,3.0,NaN,"['9', '250']",-3.132812,180609
199,Ohio,Highland,39071,2018,2018-12-20 00:00:00,84622,138 / 753,NaN,2.0,223.0,1.508,1.494436,1.658765,2.0,NaN,"['138', '138', '138', '753']",10.996011,180610
200,Ohio,Madison,39097,2018,2018-12-20 00:00:00,105547,42,NaN,2.0,284.0,3.727,3.611668,3.535001,4.0,NaN,"['42', '42', '42']",-2.122762,180611
201,Ohio,Clinton,39027,2018,2018-12-20 00:00:00,87300,251 / 68 / 350,NaN,2.0,589.0,4.893,5.441520,5.331566,1.0,NaN,"['68', '68', '68', '68', '68', '68', '251', '3...",-2.020640,180621
202,Ohio,Belmont,39013,2018,2018-12-20 00:00:00,91962,800,NaN,2.0,345.0,5.605,5.165815,5.117317,2.0,NaN,"['800', '800', '800']",-0.938836,180622